<!--
Logback configuration that roughly matches default/legacy maven logging
 -->
<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <appender name="STDOUT" class="org.jboss.fuse.mvnd.logging.logback.ConsoleAppender">
    <encoder>
      <pattern>[%level] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="Sisu" level="INFO"/>

  <root level="${consoleLevel:-info}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
