#
# Copyright (c) 2017 Angelo Zerr and other contributors as
# indicated by the @author tags.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Early Access

on:
  push:
  pull_request:

jobs:

  build:
    name: 'Build with Graal on ${{ matrix.os }}'
    if: startsWith(github.event.head_commit.message, 'Updated CHANGELOG.md') != true
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-18.04, macOS-10.15, windows-2019 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1

      - name: Set VERSION env var
        run: echo "VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - uses: bluwy/substitute-string-action@v1
        id: os
        with:
          _input-text: '${{ runner.os }}'
          Linux: linux
          Windows: windows
          MacOs: darwin
          macOs: darwin

      - name: 'Set up Graal'
        uses: graalvm/setup-graalvm@v1
        with:
          version: '21.3.0'
          java-version: '17 '
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: mvn clean verify
        if: ${{ runner.os != 'Windows' }}
        run: ./mvnw clean verify -Pnative -Dmrm=false -B -ntp -e

      - name: mvn clean verify
        if: ${{ runner.os == 'Windows' }}
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          ./mvnw clean verify -Pnative -Dmrm=false -B -ntp -e

      - name: Upload daemon test logs
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: daemon-test-logs-${{ steps.os.outputs.result }}
          path: integration-tests/target/mvnd-tests/**/daemon*.log

      - name: Upload mvnd.zip
        uses: actions/upload-artifact@v2
        with:
          name: mvnd-${{ env.VERSION }}-${{ steps.os.outputs.result }}-amd64.zip
          path: dist/target/mvnd-*.zip

  early-access:
    runs-on: ubuntu-18.04
    needs: [build]
    # Only post early access releases when push to master
    if: ${{ !github.event.issue.pull_request } && startsWith(github.ref, 'refs/heads/master')

    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 'Download all build artifacts'
        uses: actions/download-artifact@v2

      - name: 'Set up Java'
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'

      - name: 'Cache Maven packages'
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: 'Release to GitHub'
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./mvnw -B --file pom.xml -pl :mvnd -DartifactsDir=. jreleaser:release

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: jreleaser-logs
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties
